body{
    background-image:url("https://images2.alphacoders.com/459/thumb-1920-459624.jpg");
    
    width:100%;
    background-size:100%;
}
#Buttons{
    display:flex;
    padding:20px;
    justify-content:space-around;
    color:black;
    font-family: 'Permanent Marker', cursive;
}
h2{
    color:black;
}
#Logo{
    width:300px;
}
p{
    font-family: 'Permanent Marker';
    padding:5%;
    text-shadow: 1px 1px 1px #EFE3E3;
}
