body{
    background-image:url("https://images2.alphacoders.com/459/thumb-1920-459624.jpg");
    
    width:100%;
    background-size:100%;
}
#Buttons{
    display:flex;
    padding:20px;
    justify-content:space-around;
    color:black;
    font-family: 'Kreon', serif;
    text-shadow: 1px 1px 1px  #EFE3E3;
    font-size:35px;
}
a{
    text-decoration:none;
    color:black;
    padding:3%;
    text-shadow: 1px 1px 1px  #EFE3E3;
    font-size:35px;
}
h2{
    color:black;
}
#Logo{
    width:300px;
}
p{
    font-family: 'Kreon', serif;
    padding:3%;
    text-shadow: 1px 1px 1px  #EFE3E3;
    font-size:35px;
}
.images{
    display:flex;
    flex-direction: row;
    margin:50px;
    width:256px;
    height:256px;
    border:solid black 10px;
}
#thediv{
    display:flex;
    justify-content:space-around;
    flex-direction: row;
}