body{
    background-color:#626D71;
    }
.row{   
    display:flex;
    justify-content:space-between;
    color:white;
    font-size:20px;
}
.headshot{
    width:10%;
    border-radius:100%;
}

.footer{
    display:flex;
    justify-content:space-around;
    color:black;
    font-size:20px;

    }
#Name{
    font-size:30px;
    font-weight:bold;
}


.mid{
    background-color:#CDCDC0;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    display:flex;
    justify-content:space-around;
    width:1500px;
    padding:1px;
   border:1px solid #021a40;
   background-color:#92AAC4;
   font-size:40px;
    
}